<div ng-controller="CoreMainCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading">Управление</div>
        <table class="table">
            <thead>
            <tr>
                <th class="col-sm-8">Состояние</th>
                <th class="text-center col-sm-2">Uptime</th>
                <th class="text-center col-sm-3">Ctrl</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{'danger': stats.phase != 2}">
                <td>[[ phase_text[stats.phase] ]] <span ng-if="!stats">Нет связи</span></td>
                <td class="text-center" ng-bind="stats.time_time"></td>
                <td class="text-right">
                    <div class="btn-group">
                        <a class="btn glyphicon btn-success glyphicon-play" href=""
                           ng-if="stats.phase != 2"
                           ng-click="core_command('start')" title="Запустить"></a>
                        <a class="btn glyphicon btn-danger glyphicon-stop" href=""
                           ng-if="stats.phase == 2"
                           ng-click="core_command('stop')" title="Остановить"></a>
                        <a class="btn glyphicon btn-danger glyphicon-flash" href=""
                           ng-if="stats.phase == 2"
                           ng-click="core_command('restart')" title="Перезапустить"></a>
                        <a class="btn glyphicon btn-warning glyphicon-repeat" href=""
                           ng-click="core_command('reload')"
                           title="Перезагрузить таблицу маршрутизации"></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr>
                <th>Канал</th>
                <th class="text-center col-sm-1">Rx</th>
                <th class="text-center col-sm-1">Tx</th>
                <th class="text-center col-sm-1">Q</th>
                <th class="text-center col-sm-1">T</th>
                <th class="text-center col-sm-2">Ctrl</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{'warning': stat.queued > 0, 'danger': stat.phase != 2}"
                ng-repeat="(name, stat) in stats.channels">
                <td>
                    [[ name ]] ([[ phase_text[stat.phase] ]]<span ng-if="stat.extState">, [[ stat.extState ]]</span>)
                </td>
                <td class="success text-right" ng-bind="stat.received"></td>
                <td class="success text-right" ng-bind="stat.sent"></td>
                <td class="warning text-right" ng-bind="stat.queued"></td>
                <td class="info text-right" ng-bind="stat.backed"></td>
                <td class="text-right">
                    <div class="btn-group">
                        <a class="btn glyphicon btn-success glyphicon-play"
                           ng-if="stat.phase != 2 && stats.phase == 2"
                           ng-click="channel_command(name, 'start')" title="Запустить"></a>
                        <a class="btn glyphicon btn-danger glyphicon-stop"
                           ng-if="stat.phase == 2"
                           ng-click="channel_command(name, 'stop')" title="Остановить"></a>
                        <a class="btn glyphicon btn-danger glyphicon-flash"
                           ng-if="stats.phase == 2"
                           ng-click="channel_command(name, 'restart')" title="Перезапустить"></a>
                        <a class="btn glyphicon btn-warning glyphicon-ban-circle"
                           ng-click="channel_command(name, 'purge')" title="Очистить очередь"></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    Ametist.controller('CoreMainCtrl', ['$scope', '$http', '$WebSocket', function ($scope, $http, $WebSocket) {
        $scope.aux = aux;
        $scope.stats = null;
        $scope.ws = new $WebSocket('ws://' + location.host + '/{{ app_config.get('ws-path', 'ws') }}/');
        $scope.ws.onOpen(function () {
            $scope.ws.send({
                subscribe: {
                    stats: {}
                }
            });
        });
        $scope.msglog = [];
        $scope.ws.onMessage(function (data) {
            if (data.variant == 'stats') {
                $scope.stats = data.data;
            }
        });
        $scope.ws.onDisconnect(function () {
            $scope.stats = null;
        });
        $scope.ws.connect();

        $scope.core_command = function (command) {
            $http.post('{{ url_for('CoreControl.api_core_control') }}' + command, {})
        };
        $scope.channel_command = function (channel, command) {
            $http.post('{{ url_for('CoreControl.api_channel_control') }}' + channel + '/' + command, {})
        };
        $scope.phase_text = ['Stopped', 'Starting', 'Running', 'Stopping']
    }])
</script>