<div ng-controller="MessageSelectCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading">История</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-8">
                    <button class="btn btn-default dropdown-toggle"
                            ng-click="toggle_conditions_visible()"
                            ng-disabled="_loading">
                        <span ng-if="!_loading">Условия</span><span ng-if="_loading">Загружается...</span>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <div class="well" ng-show="conditions_visible"
                         style="display:block; position: absolute; margin-top: 8px; z-index: 1000">
                        <div class="row">
                            <div class="col-sm-8">
                                <datepicker min="min_date" max="max_date" show-weeks="false" ng-model="search_date"></datepicker>
                            </div>
                            <div class="col-sm-4">
                                <timepicker minute-step="15" show-meridian="false" readonly-input="true" ng-model="search_date"></timepicker>
                                <button class="btn btn-success" ng-click="get_data()">Получить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    [[ aux.moment(search_date).utc().format('YYYY.MM.DD HH:mm') ]] UTC
                </div>
            </div>
            <div class="row" ng-if="flt_origins.length">
                <div class="col-sm-12">
                    Источник:
                    <span ng-repeat="origin in flt_origins" class="label label-warning tag-label">
                        [[origin]]
                        <span ng-click="aux.removeitem(flt_origins, origin)" class="glyphicon glyphicon-remove tag-remove"></span>
                    </span>
                    <span class="label label-danger tag-label tag-remove" ng-click="flt_origins.splice(0, flt_origins.length)">
                        Очистить <span class="glyphicon glyphicon-remove"></span>
                    </span>
                </div>
            </div>
            <div class="row" ng-if="flt_tags.length">
                <div class="col-sm-12">
                    Теги:
                    <span ng-repeat="tag in flt_tags" class="label label-warning tag-label">
                        [[tag]]
                        <span ng-click="aux.removeitem(flt_tags, tag)" class="glyphicon glyphicon-remove tag-remove"></span>
                    </span>
                    <span class="label label-danger tag-label tag-remove" ng-click="flt_tags.splice(0, flt_tags.length)">
                        Очистить <span class="glyphicon glyphicon-remove"></span>
                    </span>
                </div>
            </div>
            <div class="row" ng-if="flt_dests.length">
                <div class="col-sm-12">
                    Направления:
                    <span ng-repeat="dest in flt_dests" class="label label-warning tag-label">
                        [[dest]]
                        <span ng-click="aux.removeitem(flt_dests, dest)" class="glyphicon glyphicon-remove tag-remove"></span>
                    </span>
                    <span class="label label-danger tag-label tag-remove" ng-click="flt_dests.splice(0, flt_dests.length)">
                        Очистить <span class="glyphicon glyphicon-remove"></span>
                    </span>
                </div>
            </div>
            <div class="text-center">
                <pagination total-items="records_filtered().length" page="current_page" max-size="10"
                            items-per-page="items_per_page" boundary-links="true" ng-show="records"></pagination>
            </div>
        </div>
        <table class="table table-condensed-more" style="font-family: monospace">
            <thead>
            <tr>
                <th>Получено</th>
                <th>Источник</th>
                <th>AHL</th>
                <th>Теги</th>
                <th>Направления</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in records_sliced()">
                <td><a href="#" ng-click="open_message(item.uid)">[[ aux.moment(item.uid * 1000 / 4096).format('YYYY.MM.DD HH:mm:ss') ]]</a></td>
                <td><a href="#" ng-click="add_flt_origin(item.o)">[[ item.o ]]</a></td>
                <td>[[ item.ahl ]]</td>
                <td><a href="#" ng-click="add_flt_tag(tag)" ng-repeat="tag in item.t" class="tag-link">[[ tag ]]</a></td>
                <td><a href="#" ng-click="add_flt_dest(dest)" ng-repeat="dest in item.d" class="tag-link">[[ dest ]]</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/ng-template" id="_core.message.html">{% include '_core.message.html' %}</script>
<script>{% include '_core.message.js' %}</script>
<script>
    Ametist.controller('MessageSelectCtrl', ['$scope', '$http', '$modal', function ($scope, $http, $modal) {
        $scope.aux = aux;
        $scope._loading = false;
        $scope.conditions_visible = false;
        $scope.search_date = new Date();
        $scope.search_date.setMinutes(0);
        $scope.records = [];
        $scope.flt_tags = [];
        $scope.flt_origins = [];
        $scope.flt_dests = [];
        $scope.current_page = 1;
        $scope.items_per_page = 20;
        $scope.max_date = new Date();

        $scope.toggle_conditions_visible = function () {
            $scope.conditions_visible = !$scope.conditions_visible;
            $scope.max_date = new Date();
        };

        $scope.records_filtered = function () {
            var flt_tags = $scope.flt_tags;
            var flt_dests = $scope.flt_dests;
            var flt_origins = $scope.flt_origins;
            var retval = $scope.records.filter(function (item) {
                return (aux.allin(flt_tags, item.t) || !flt_tags.length) &&
                        (aux.allin(flt_dests, item.d) || !flt_dests.length) &&
                        ((flt_origins.indexOf(item.o) !== -1) || !flt_origins.length)
            });
            return retval;
        };
        $scope.records_sliced = function () {
            var retval = $scope.records_filtered().slice(
                ($scope.current_page - 1) * $scope.items_per_page,
                $scope.current_page * $scope.items_per_page
            );
            return retval;
        };
        $scope.add_flt_origin = function (origin) {
            if ($scope.flt_origins.indexOf(origin) === -1) {
                $scope.flt_origins.push(origin)
            }
        };
        $scope.add_flt_dest = function (dest) {
            if ($scope.flt_dests.indexOf(dest) === -1) {
                $scope.flt_dests.push(dest)
            }
        };
        $scope.add_flt_tag = function (tag) {
            if ($scope.flt_tags.indexOf(tag) === -1) {
                $scope.flt_tags.push(tag)
            }
        };
        $http.get('{{ url_for('CoreControl.api_ioj_minimum') }}').success(function (data) {
            $scope.min_date = new Date(data.result * 1000);
        });
        $scope.get_data = function () {
            $scope._loading = true;
            $scope.conditions_visible = false;
            $http.get('{{ url_for('CoreControl.api_ioj_thedate') }}' + moment($scope.search_date).utc().format('YYYYMMDDHHmm'))
                    .success(function (data) {
                        $scope.records = data.result;
                        $scope._loading = false;
                    })
                    .error(function () {
                        $scope._loading = false;
                    })
        };
        $scope.open_message = function (uid) {
            $http.get('{{ url_for('CoreControl.api_ioj_uid') }}' + uid).success(function (data) {
                var instance = $modal.open({
                    templateUrl: '_core.message.html',
                    controller: CoreMessageModal,
                    resolve: {
                        message: function () {
                            return {
                                text: data,
                                uid: uid
                            }
                        }
                    }
                });
            })
        }
    }])
</script>