<div class="modal-header">
    <button type="button" class="close" ng-click="close()">&times;</button>
    <h4>Сообщение: [[ message.uid ]]</h4>
</div>
<div class="modal-body">
    <span ng-bind-html="message.text" style="font-family: monospace"></span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Закрыть</button>
</div>