    <div ng-controller="CoreXRepCtrl">
        <div class="panel panel-primary">
            <div class="panel-heading">Условия выборки</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="col-md-2"><label for="origin">Канал ввода:</label></td>
                    <td class="col-md-10"><input id="origin" type="text" class="form-control"
                                                 ng-model="model.inputs"></td>
                </tr>
                <tr>
                    <td><label for="ahl">AHL:</label></td>
                    <td><input id="ahl" type="text" class="form-control" ng-model="model.ahl"></td>
                </tr>
                <tr>
                    <td><label for="tags_m" for="tags_p">Тэги:</label></td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-plus"></span>
                                    <input id="tags_p" type="text" class="form-control"
                                           ng-model="model.tags_p">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-minus"></span>
                                    <input id="tags_m" type="text" class="form-control"
                                           ng-model="model.tags_m">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="dests_m" for="dests_p">Направления:</label></td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-plus"></span>
                                    <input id="tags_p" type="text" class="form-control"
                                           ng-model="model.dests_p">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-minus"></span>
                                    <input id="tags_m" type="text" class="form-control"
                                           ng-model="model.dests_m">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Действия</div>
            <table class="table">
                <tbody>
                <tr>
                    <td class="col-md-2"><label for="direct">Направить в:</label></td>
                    <td class="col-md-10">
                        {% for channel_name in channels %}
                            <div class="form-group">
                                <input type="checkbox" id="to_{{ channel_name }}"
                                       ng-model="model.dests.{{ channel_name }}">
                                <label for="to_{{ channel_name }}">{{ channel_name }}</label>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-10">
                <button class="btn btn-success btn-block" ng-click="post_inject()">
                    Go!
                </button>
            </div>
        </div>
    </div>
<script>
    Ametist.controller('CoreXRepCtrl', ['$scope', '$http', function ($scope, $http) {
        $scope.aux = aux;
        $scope.stats = null;
        $scope.model = {
            dests: {}
        };
        $scope.post_inject = function () {
            $http.post('{{ url_for('CoreControl.api_inject') }}', $scope.model);
        }
    }])
</script>