{% macro dropdown_item(endpoint, caption, class_=None) %}
    <li class="{% if request.path == url_for(endpoint) %}active{% endif %}">
    <a {% if class_ %}class="{{ class_ }}" {% endif %}href="{{ url_for(endpoint) }}">{{ caption }}</a></li>
{% endmacro %}