<div id="SendMessagePanel" class="panel panel-primary" ng-controller="SendCtrl">
    <div class="panel-heading">
        Отправить сообщение
    </div>
    <div class="panel-body">
        <form class="form form-horizontal">
            <fieldset class="row">
                <div class="control-group col-sm-4">
                    <label for="address" class="control-label">Адресат ГМС</label>
                    <input id="address" class="form-control" type="text" ng-model="chosen_template.hms_addr">
                </div>
                <div class="control-group col-sm-8">
                    <label for="send" class="control-label">Шаблоны:</label>
                    <select class="form-control" ng-model="dummy" ng-change="template_changed()" ng-options="opt.name for opt in templates"></select>
                </div>
            </fieldset>
            <fieldset class="row">
                <div class="control-group col-sm-5">
                    <label for="TTiiAA" class="control-label">AHL</label>
                    <input id="TTiiAA" class="form-control" type="text" ng-model="chosen_template.ahl">
                </div>
                <div class="control-group col-sm-4">
                    <label for="Timestamp" class="control-label">Время</label>
                    <input id="Timestamp" class="form-control" type="text" ng-model="chosen_template.timestamp">
                </div>
                <div class="control-group col-sm-3">
                    <label for="Group" class="control-label">Группа</label>
                    <input id="Group" class="form-control" type="text" ng-model="chosen_template.group">
                </div>
            </fieldset>
            <fieldset class="row marginal">
                <div class="control-group col-md-12">
                    <label for="Text" class="control-label">Текст</label>
                    <textarea id="Text" class="form-control" rows="20"
                              ng-model="chosen_template.text"></textarea>
                </div>
            </fieldset>
            <div class="row">
                <div class="col-md-4 col-md-offset-8">
                    <div class="btn-group pull-right">
                        <button id="send" class="btn btn-success" ng-click="send_message()">Отправить</button>
                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ng-click="save_template()">Сохранить шаблон...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    SaveTemplateCtrl = function ($scope, $modalInstance, templateData) {
        $scope.template = templateData;
        $scope.name = '';
        $scope.accept = function () {
            $modalInstance.close(this.name);
        };
        $scope.cancel = function () {
            $modalInstance.dismiss('cancel');
        };
    };
    Ametist.controller('SendCtrl', ['$scope', '$http', '$modal', function SendCtrl($scope, $http, $modal) {
        {#$scope.group = {{ group | tojson }};#}
        $scope.dummy = {};
        $scope.templates = [];
        $scope.chosen_template = null;
        $scope.template_changed = function (item) {
            item = $scope.dummy;
            $scope.chosen_template = angular.extend({}, item.data);
            $scope.chosen_template.timestamp = moment().format('DDHHmm');
        };
        $http.get('{{ url_for('Send.api_templates') }}')
                .success(function (data) {
                    $scope.templates = data.result;
                });
        $scope.send_message = function () {
            $('#SendMessagePanel *').attr('disabled', true);
            $http.post('{{ url_for('Send.api_send_wmo_message') }}', $scope.chosen_template)
                    .then(function () {
                        $('#SendMessagePanel *').attr('disabled', false);
                    })
        };
        $scope.save_template = function () {
            var modalInstance = $modal.open({
                templateUrl: 'save_template.html',
                controller: SaveTemplateCtrl,
                resolve: {
                    templateData: function () {
                        return $scope.chosen_template;
                    }
                }
            });
            modalInstance.result.then(function (name) {
                $http.post('{{ url_for('Send.api_save_wmo_template') }}', {
                    name: name,
                    data: {
                        ahl: $scope.chosen_template.ahl,
                        group: $scope.chosen_template.group,
                        hms_addr: $scope.chosen_template.hms_addr,
                        text: $scope.chosen_template.text
                    }
                }).success(function (data) {
                    $scope.templates = data.result;
                })
            })
        }
    }])
</script>