{% extends "_base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {% include '_core.control.html' %}
            </div>
            <div class="col-sm-6">
                <tabset>
                    <tab heading="Повтор">
                        {% include '_core.rep.html' %}
                    </tab>
                    <tab heading="Отправка">
                        {% include '_send.index.html' %}
                    </tab>
                    <tab heading="История">
                        {% include '_core.history.html' %}
                    </tab>
                </tabset>
            </div>
        </div>
    </div>

{% endblock %}
