<div class="modal-header" xmlns="http://www.w3.org/1999/html">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Сохранение шаблона</h4>
</div>
<div class="modal-body">
    <form class="form">
        <fieldset class="row">
            <div class="form-group col-md-12">
                <label for="template.name">Название</label>
                <input id="template.name" class="form-control" type="text" ng-model="name">
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="accept()">Ok</button>
    <button type="button" class="btn btn-danger" ng-click="cancel()">Отмена</button>
</div>
