{% extends "_base.html" %}
{% block content %}
    <script type="text/ng-template" id="save_template.html">{% include "save_template.html" %}</script>
    <div class="container">
        {% include '_send.index.html' %}
    </div>
{% endblock %}