body {
    padding-top: 61px;
}
div.tabbable ul li a {
    cursor: default;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.marginal {
    margin-bottom: 20px;
}
.table-condensed-more > thead > tr > th,
.table-condensed-more > tbody > tr > th,
.table-condensed-more > tfoot > tr > th,
.table-condensed-more > thead > tr > td,
.table-condensed-more > tbody > tr > td,
.table-condensed-more > tfoot > tr > td {
  padding: 2px;
}
.tag-label {
    margin-right: 5px;
}
.tag-link {
    padding-right: 10px;
}
.tag-remove {
    cursor: pointer;
}